
.container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    overflow: hidden;
    background-image: url('img/full\ lane\ \(light\).jpg');
    /* background-image: url(/img/bg1.png); */
    background-size: cover;
    background-position: center;
}

.object {
    position: absolute;
}


@media (max-width: 768px) {
    .container {
        padding-bottom: 75%;
    }

    .object {
        transform: scale(0.7);
    }
}

@media (max-width: 480px) {
    .container {
        padding-bottom: 100%;
    }

    .object {
        transform: scale(0.5);
    }
}

.my_car{
    top: 95%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 180px;
    width: 150px;
}
